@page
@model MyApp.Namespace.HomeModel
@{
}
<div class="col mx-3 shadow-sm mt-5" style="background-color: #FFFFFF; border-radius: 5px; min-width:300px;">
    <div class="p-3" style="text-align: center;">
        <h4>เงินกู้เพื่อการศึกษาของตนเอง</h4>
    </div>
</div>
<div class="col mx-3 shadow-sm mt-3" style="background-color: #FFFFFF; border-radius: 5px; min-width:300px; ">
    <div class="p-4 mt-4 text-align: center;">
        <a type="button" class="btn" href="/Loan"
            style="display: block; background-color:#1877f2; color:#FFFFFF;">
            ยื่นกู้
        </a>
        <a type="button" class="btn mt-3" href="/Contract"
            style="display: block; background-color:#1877f2; color:#FFFFFF;">
            สถานะสัญญา
        </a>
        <a type="button" class="btn mt-3" href="/Pay"
            style="display: block; background-color:#1877f2; color:#FFFFFF;">
            ผ่อนชำระ
        </a>
        @* <a type="button" class="btn mt-3" href="/Pay-History"
            style="display: block; background-color:#1877f2; color:#FFFFFF;">
            ประวัติการผ่อนชำระ
        </a> *@
    </div>
</div>
