@page
@model MyApp.Namespace.LoanClearModel
@{
}
<div class="col mx-3 shadow-sm mt-5" style="background-color: #FFFFFF; border-radius: 5px; min-width:300px;">
    <div class="p-3">
        <h1 class="pt-5 px-5 text-left" style="color: #1877f2;">ยินดีด้วย</h1>
        <h5 class="pt-2 px-5">ท่านได้ชำระเงินครบจำนวนแล้ว</h3>
            <h6 class="pt-2 px-5">ท่านสามารถยื่นกู้ครั้งใหม่ได้ที่หน้า ยื่นกู้</h3>
                <div class="pt-2">
                    <a type="button" class="btn mt-2 mb-2" href="/Loan"
                        style="display: block; background-color:#1877f2; color:#FFFFFF;">
                        ยื่นกู้
                    </a>
                </div>
                <div class="pt-2">
                    <a type="button" class="btn mt-2 mb-2" href="/Home"
                        style="display: block; background-color:#1877f2; color:#FFFFFF;">
                        กลับไปหน้าแรก
                    </a>
                </div>
    </div>
</div>