@page
@model MyApp.Namespace.Pay_HistoryModel
@{
}
<div class="col mx-3 shadow-sm mt-5" style="background-color: #FFFFFF; border-radius: 5px; min-width:300px;">
    <div class="p-3" style="text-align: left;">
        <a type="button" class="btn" href="/Home" style="display: block; background-color:#E4E6E9; color:#000000;">
            กลับไปหน้าแรก
        </a>
    </div>
</div>
<div class="col mx-3 shadow-sm mt-3" style="background-color: #FFFFFF; border-radius: 5px; min-width:300px;">
    <div class="pt-4">
        <div class="mx-3 pt-3 pb-2" style="text-align: center; color:#1877f2; background-color: #FAFAFA; border-radius: 5px;">
        <h4>ประวัติการชำระเงิน</h4>
    </div>
    </div>
    <div class="p-3 pt-2" style="text-align: left;">
        
    </div>
</div>